
<br/>
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Users List</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info form-control text-white">
            Add New User
        </a>
    </div>
    <partial name="_UserList.cshtml"/>
</div>